<?xml version="1.0" encoding="utf-8"?>

<unattend
    xmlns="urn:schemas-microsoft-com:unattend"
    xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State">

  <settings pass="windowsPE">

    <component
        name="Microsoft-Windows-International-Core-WinPE"
        processorArchitecture="amd64"
        publicKeyToken="31bf3856ad364e35"
        language="neutral"
        versionScope="nonSxS">

      <SetupUILanguage>
        <UILanguage>{{ ui_language|xml }}</UILanguage>
      </SetupUILanguage>

      <InputLocale>{{ input_locale|xml }}</InputLocale>
      <SystemLocale>{{ system_locale|xml }}</SystemLocale>
      <UILanguage>{{ ui_language|xml }}</UILanguage>
      <UserLocale>{{ user_locale|xml }}</UserLocale>

    </component>


    <component
        name="Microsoft-Windows-Setup"
        processorArchitecture="amd64"
        publicKeyToken="31bf3856ad364e35"
        language="neutral"
        versionScope="nonSxS">

      <DiskConfiguration>

        <Disk wcm:action="add">

          <DiskID>{{ disk_id }}</DiskID>

          <WillWipeDisk>true</WillWipeDisk>

          <CreatePartitions>

            <CreatePartition wcm:action="add">
              <Order>1</Order>
              <Type>EFI</Type>
              <Size>260</Size>
            </CreatePartition>

            <CreatePartition wcm:action="add">
              <Order>2</Order>
              <Type>MSR</Type>
              <Size>16</Size>
            </CreatePartition>

            <CreatePartition wcm:action="add">
              <Order>3</Order>
              <Type>Primary</Type>
              <Extend>true</Extend>
            </CreatePartition>

          </CreatePartitions>


          <ModifyPartitions>

            <ModifyPartition wcm:action="add">
              <Order>1</Order>
              <PartitionID>1</PartitionID>
              <Label>System</Label>
              <Format>FAT32</Format>
            </ModifyPartition>

            <ModifyPartition wcm:action="add">
              <Order>2</Order>
              <PartitionID>3</PartitionID>
              <Label>Windows</Label>
              <Letter>C</Letter>
              <Format>NTFS</Format>
            </ModifyPartition>

          </ModifyPartitions>

        </Disk>

        <WillShowUI>OnError</WillShowUI>

      </DiskConfiguration>

      <ImageInstall>

        <OSImage>

          <InstallFrom>

            <MetaData wcm:action="add">

          {% if image_index is not none %}
              <Key>/IMAGE/INDEX</Key>

              <Value>{{ image_index }}</Value>
          {% else %}
              <Key>/IMAGE/NAME</Key>

              <Value>{{ image_name|xml }}</Value>
          {% endif %}

            </MetaData>

          </InstallFrom>


          <InstallTo>

            <DiskID>{{ disk_id }}</DiskID>

            <PartitionID>3</PartitionID>

          </InstallTo>

          <WillShowUI>Never</WillShowUI>

        </OSImage>

      </ImageInstall>

      <UserData>

        <AcceptEula>true</AcceptEula>

        <FullName>{{ realname|xml }}</FullName>

        <Organization>{{ organization|xml }}</Organization>

        {% if setup_product_key %}
                <ProductKey>

                  <Key>{{ setup_product_key|xml }}</Key>

                  <WillShowUI>Never</WillShowUI>

                </ProductKey>
        {% endif %}

      </UserData>


      <DynamicUpdate>

        <Enable>false</Enable>

        <WillShowUI>Never</WillShowUI>

      </DynamicUpdate>

    </component>

  </settings>


  <settings pass="specialize">

    <component
        name="Microsoft-Windows-Shell-Setup"
        processorArchitecture="amd64"
        publicKeyToken="31bf3856ad364e35"
        language="neutral"
        versionScope="nonSxS">

      <ComputerName>{{ computer_name|xml }}</ComputerName>

      <RegisteredOwner>{{ realname|xml }}</RegisteredOwner>

      <RegisteredOrganization>
        {{ organization|xml }}
      </RegisteredOrganization>

      <TimeZone>{{ timezone|xml }}</TimeZone>

    </component>

  </settings>



  <settings pass="oobeSystem">

    <component
        name="Microsoft-Windows-International-Core"
        processorArchitecture="amd64"
        publicKeyToken="31bf3856ad364e35"
        language="neutral"
        versionScope="nonSxS">

      <InputLocale>{{ input_locale|xml }}</InputLocale>

      <SystemLocale>{{ system_locale|xml }}</SystemLocale>

      <UILanguage>{{ ui_language|xml }}</UILanguage>

      <UserLocale>{{ user_locale|xml }}</UserLocale>

    </component>


    <component
        name="Microsoft-Windows-Shell-Setup"
        processorArchitecture="amd64"
        publicKeyToken="31bf3856ad364e35"
        language="neutral"
        versionScope="nonSxS">

      <OOBE>

        <HideEULAPage>true</HideEULAPage>

        <HideOEMRegistrationScreen>true</HideOEMRegistrationScreen>

        <HideOnlineAccountScreens>true</HideOnlineAccountScreens>

        <HideWirelessSetupInOOBE>true</HideWirelessSetupInOOBE>

        <ProtectYourPC>3</ProtectYourPC>

      </OOBE>


      <UserAccounts>

      {% if set_administrator_password %}
          <AdministratorPassword>

            <Value>{{ password|xml }}</Value>

            <PlainText>true</PlainText>

          </AdministratorPassword>
      {% endif %}

        <LocalAccounts>

          <LocalAccount wcm:action="add">

            <Name>{{ username|xml }}</Name>

            <DisplayName>{{ realname|xml }}</DisplayName>

            <Description>
              Operation Crucible local administrator
            </Description>

            <Group>Administrators</Group>

            <Password>

              <Value>{{ password|xml }}</Value>

              <PlainText>true</PlainText>

            </Password>

          </LocalAccount>

        </LocalAccounts>

      </UserAccounts>


{% if autologon_enabled %}

      <AutoLogon>

        <Password>

          <Value>{{ password|xml }}</Value>

          <PlainText>true</PlainText>

        </Password>

        <Domain />

        <Enabled>true</Enabled>

        <LogonCount>{{ autologon_count }}</LogonCount>

        <Username>{{ username|xml }}</Username>

      </AutoLogon>
{% endif %}
      <FirstLogonCommands>

        <SynchronousCommand wcm:action="add">

          <Order>1</Order>

          <Description>
            Operation Crucible Windows bootstrap
          </Description>

          <RequiresUserInput>false</RequiresUserInput>

          <CommandLine>powershell.exe -NoProfile -ExecutionPolicy Bypass -Command "$v = Get-Volume -FileSystemLabel 'CRUCIBLE_WIN' -ErrorAction Stop | Select-Object -First 1; &amp; ($v.DriveLetter + ':\bootstrap.ps1')"</CommandLine>

        </SynchronousCommand>

      </FirstLogonCommands>
      
    </component>

  </settings>

</unattend>
